/********************
WordPress Blocks
********************/

/*Main Width*/
main > * {
	margin-right: auto;
	margin-left: auto;
}

main > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	width: calc(100% - 80px);
	max-width: 1100px;
}

main > *.alignwide {
	width: calc(100% - 80px);
	max-width: 1300px;
}

@media screen and (max-width: 768px) {
	main > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
	main > .alignwide, main > .is-style-wide {
		width: calc(100% - 40px);
	}
}

.alignleft {
	margin-left: calc((100vw - 1100px) / 2);
}

.alignright {
	margin-right: calc((100vw - 1100px) / 2);
}

.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

@media(max-width: 1140px) {
	.alignleft {
		margin-left: 20px;
	}

	.align-right {
		margin-right: 20px;
	}
}

/*Column Blocks*/

.wp-block-columns {
	display: flex;
}

.wp-block-column {
	flex-basis: 0;
	flex-grow: 1;
}

.wp-block-column[style*=flex-basis] {
	flex-grow: 0;
}

.wp-block-column:not(:first-child) {
	margin-left: 32px;
}

/*Positions*/
.wp-block-cover.is-position-top-left {
	align-items: flex-start;
	justify-content: flex-start;
}

.wp-block-cover.is-position-center-left {
	align-items: center;
	justify-content: flex-start;
}

.wp-block-cover.is-position-bottom-left {
	align-items: flex-end;
	justify-content: flex-start;
}

.wp-block-cover.is-position-top-center {
	align-items: flex-start;
	justify-content: center;
}

.wp-block-cover.is-position-center-center {
	align-items: center;
	justify-content: center;
}

.wp-block-cover.is-position-bottom-center {
	align-items: flex-end;
	justify-content: center;
}

.wp-block-cover.is-position-top-right {
	align-items: flex-start;
	justify-content: flex-end;
}

.wp-block-cover.is-position-center-right {
	align-items: center;
	justify-content: flex-end;
}

.wp-block-cover.is-position-bottom-right {
	align-items: flex-end;
	justify-content: flex-end;
}


/*Align Items*/
.are-vertically-aligned-top {
	align-items: flex-start;
}

.are-vertically-aligned-center {
	align-items: center;
}

.are-vertically-aligned-bottom {
	align-items: flex-end;
}

/*Text Align*/
.has-text-align-left {
	text-align: left;
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-right {
	text-align: right;
}

/*Float*/
.alignleft {
	float: left;
}

.aligncenter {
	text-align: center;
}

.alignright {
	float: right;
}

/*Font Size*/
.has-small-font-size {
	font-size: 14px;
}

.has-normal-font-size {
	font-size: 22px;
	line-height: 1.45;
}

.has-large-font-size {
	font-size: 32px;
	line-height: 1.4;
}

.has-larger-font-size {
	font-size: 40px;
	line-height: 1.3;
}

/*Cover Blocks*/
.wp-block-cover{
	min-height: 430px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	position: relative;
	background-size: cover;
	background-position: 50%;
	box-sizing: border-box;
}

.wp-block-cover .wp-block-cover__inner-container {
	color: #fff;
	z-index: 2;
	width: calc(100% - 80px);
}

.wp-block-cover.has-background-dim {
	background-color: #000;
}

.wp-block-cover.has-background-dim:not(.has-background-gradient):before,
.wp-block-cover .wp-block-cover__gradient-background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-color: inherit;
}

.wp-block-cover.has-background-dim:not(.has-background-gradient):before {
	content: '';
	opacity: 0.5;
}

.wp-block-cover .wp-block-cover__gradient-background {
	opacity: 0.2;
}

[class*="__inner-container"] > .alignwide {
	width: 100%;
}

/*Colors*/
p.has-background {
	padding: 20px 38px;
}

.has-alpha-black-background-color {
	background: rgba(0, 0, 0, 0.6);
}

:root .has-white-background-color {
	background-color: #FFFFFF;
}

:root .has-white-color {
	color: #FFFFFF;
}

:root .has-black-background-color {
	background-color: #000000;
}

:root .has-black-color {
	color: #000000;
}

:root .has-blue-background-color {
	background-color: #0844A4;
}

:root .has-blue-color {
	color: #0844A4;
}

:root .has-gray-background-color {
	background-color: #EEEEEE;
}

:root .has-gray-color {
	color: #EEEEEE;
}

:root .editor-styles-wrapper .has-vivid-cyan-blue-to-vivid-purple-gradient-background,:root .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
	background: linear-gradient(135deg,#0693e3,#9b51e0)
}

:root .editor-styles-wrapper .has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background,:root .has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background {
	background: linear-gradient(135deg,#00d084,#0693e3)
}

:root .editor-styles-wrapper .has-light-green-cyan-to-vivid-green-cyan-gradient-background,:root .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
	background: linear-gradient(135deg,#7adcb4,#00d082)
}

:root .editor-styles-wrapper .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background,:root .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
	background: linear-gradient(135deg,#fcb900,#ff6900)
}

:root .editor-styles-wrapper .has-luminous-vivid-orange-to-vivid-red-gradient-background,:root .has-luminous-vivid-orange-to-vivid-red-gradient-background {
	background: linear-gradient(135deg,#ff6900,#cf2e2e)
}

:root .editor-styles-wrapper .has-very-light-gray-to-cyan-bluish-gray-gradient-background,:root .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
	background: linear-gradient(135deg,#eee,#a9b8c3)
}

:root .editor-styles-wrapper .has-cool-to-warm-spectrum-gradient-background,:root .has-cool-to-warm-spectrum-gradient-background {
	background: linear-gradient(135deg,#4aeadc,#9778d1 20%,#cf2aba 40%,#ee2c82 60%,#fb6962 80%,#fef84c)
}

:root .editor-styles-wrapper .has-blush-light-purple-gradient-background,:root .has-blush-light-purple-gradient-background {
	background: linear-gradient(135deg,#ffceec,#9896f0)
}

:root .editor-styles-wrapper .has-blush-bordeaux-gradient-background,:root .has-blush-bordeaux-gradient-background {
	background: linear-gradient(135deg,#fecda5,#fe2d2d 50%,#6b003e)
}

:root .editor-styles-wrapper .has-purple-crush-gradient-background,:root .has-purple-crush-gradient-background {
	background: linear-gradient(135deg,#34e2e4,#4721fb 50%,#ab1dfe)
}

:root .editor-styles-wrapper .has-luminous-dusk-gradient-background,:root .has-luminous-dusk-gradient-background {
	background: linear-gradient(135deg,#ffcb70,#c751c0 50%,#4158d0)
}

:root .editor-styles-wrapper .has-hazy-dawn-gradient-background,:root .has-hazy-dawn-gradient-background {
	background: linear-gradient(135deg,#faaca8,#dad0ec)
}

:root .editor-styles-wrapper .has-pale-ocean-gradient-background,:root .has-pale-ocean-gradient-background {
	background: linear-gradient(135deg,#fff5cb,#b6e3d4 50%,#33a7b5)
}

:root .editor-styles-wrapper .has-electric-grass-gradient-background,:root .has-electric-grass-gradient-background {
	background: linear-gradient(135deg,#caf880,#71ce7e)
}

:root .editor-styles-wrapper .has-subdued-olive-gradient-background,:root .has-subdued-olive-gradient-background {
	background: linear-gradient(135deg,#fafae1,#67a671)
}

:root .editor-styles-wrapper .has-atomic-cream-gradient-background,:root .has-atomic-cream-gradient-background {
	background: linear-gradient(135deg,#fdd79a,#004a59)
}

:root .editor-styles-wrapper .has-nightshade-gradient-background,:root .has-nightshade-gradient-background {
	background: linear-gradient(135deg,#330968,#31cdcf)
}

:root .editor-styles-wrapper .has-midnight-gradient-background,:root .has-midnight-gradient-background {
	background: linear-gradient(135deg,#020381,#2874fc)
}

/* File Blocks */
.wp-block-file {
	border: 2px solid #ddd;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
}

.wp-block-file__button {
	display: inline-block;
	background: #C6DDF0;
	color: #0844A4;
	font-weight: bold;
	padding: 20px;
	border-left: 2px solid #d4d4d4;
}

/*Button Blocks*/
.wp-block-button {
	margin-right: 8px;
	margin-bottom: 8px;
	display: inline-block;
}

.wp-block-button__link {
	padding: 16px 24px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	background: #0844A4;
	color: #fff;
	border-radius: 6px;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	border: 2px solid;
	background-color: transparent;
	padding: calc(16px - 2px) calc(24px - 2px);
	color: #0844A4;
}

/*Image Blocks*/
.wp-block-image {
	margin-right: 0;
	margin-left: 0;
}

.wp-block-image img {
	max-width: 100%;
	height: auto;
}

.wp-block-image figcaption {
	margin-top: 15px;
}

.wp-block-image.is-style-rounded img {
	border-radius: 100%;
}

/*Gallery Blocks*/
.blocks-gallery-grid {
	display: flex;
	padding-left: 0;
	flex-wrap: wrap;
}

.blocks-gallery-item figure {
	margin: 0;
}

.wp-block-gallery.columns-2 .blocks-gallery-item {
	width: calc(50% - 16px);
}

.wp-block-gallery.columns-3 .blocks-gallery-item {
	width: calc(33.33% - 16px);
}

.wp-block-gallery.columns-4 .blocks-gallery-item {
	width: calc(25% - 12px);
}

.wp-block-gallery.columns-5 .blocks-gallery-item {
	width: calc(20% - 12.8px);
}

.wp-block-gallery.columns-6 .blocks-gallery-item {
	width: calc(16.66% - 13.33px);
}

.wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n),
.wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n),
.wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n),
.wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n),
.wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n),
.blocks-gallery-grid .blocks-gallery-item:last-child {
	margin-right: 0;
}

.blocks-gallery-item {
	list-style: none;
	margin-right: 16px;
	margin-bottom: 16px;
	display: flex;
	flex-grow: 1;
}

.blocks-gallery-item figure {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: flex-end;
}

.blocks-gallery-item img {
	width: 100%;
	height: auto;
}

.wp-block-gallery.is-cropped .blocks-gallery-item img {
	height: 100%;
	object-fit: cover;
}

.blocks-gallery-item figcaption {
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: auto;
	padding: 40px 10px 9px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
	box-sizing: border-box;
}

/*Links*/
main .wp-block-paragraph a[href] {
	color: #0844A4;
	text-decoration: underline;
}

/*Pullquote Blocks*/
.wp-block-pullquote {
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 48px;
	padding-bottom: 48px;
	border-top: 4px solid #555d66;
	border-bottom: 4px solid #555d66;
	text-align: center;
}

.wp-block-pullquote p {
	font-size: 32px;
}

.wp-block-pullquote cite {
	margin-top: 28px;
}

/* Qutotes 共通 */
.wp-block-quote cite,
.wp-block-pullquote cite {
	color: #6D6D6D;
	display: block;
	font-size: 14px;
	font-style: normal;
}


/*Quote Blocks*/
.wp-block-quote.is-style-large p {
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.6;
}

.wp-block-quote cite {
	margin-top: 40px;
}

/* Separator Blocks */
.wp-block-separator.is-style-wide {
	border-bottom: 1px solid #8f98a1;
	border-top: none;
}

.wp-block-separator.is-style-default {
	border-color: #8f98a1;
	border-style: solid;
	max-width: 100px;
}

.wp-block-separator.is-style-dots {
	border: none;
	text-align: center;
	color: #6D6D6D;
	letter-spacing: 32px;
	font-size: 32px;
	font-family: serif;
}

.wp-block-separator.is-style-dots:before {
	content: '\00b7 \00b7 \00b7';
	color: currentColor;
	font-size: 20px;
	letter-spacing: 40px;
	padding-left: 40px;
	font-family: serif;
}

/*Media and Text Blocks*/
.wp-block-media-text {
	display: grid;
	grid-template-columns: 50% 1fr;
}

.wp-block-media-text__media {
	margin: 0;
}

.wp-block-media-text__content {
	padding: 40px;
}

.wp-block-media-text__content > *:first-child {
	margin-top: 0;
}

.wp-block-media-text__content > *:last-child {
	margin-bottom: 0;
}

.has-media-on-the-right .wp-block-media-text__media {
	grid-column: 2;
	grid-row: 1;
}

.has-media-on-the-right .wp-block-media-text__content {
	grid-column: 1;
	grid-row: 1;
}

.wp-block-media-text__media, 
.wp-block-media-text__content {
	align-self: center;
}

.is-vertically-aligned-top .wp-block-media-text__media,
.is-vertically-aligned-top .wp-block-media-text__content {
	align-self: start;
}

.is-vertically-aligned-bottom .wp-block-media-text__media,
.is-vertically-aligned-bottom .wp-block-media-text__content {
	align-self: end;
}

.wp-block-media-text__media img, .wp-block-media-text__media video {
	max-width: unset;
	width: 100%;
	vertical-align: middle;
	height: auto;
}

.wp-block-media-text.is-image-fill .wp-block-media-text__media {
	height: 100%;
	min-height: 250px;
	background-size: cover;
}

.wp-block-media-text.is-image-fill .wp-block-media-text__media img {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

@media screen and (max-width: 768px) {
	.wp-block-media-text.is-stacked-on-mobile {
		grid-template-columns: 100% !important;
	}

	.wp-block-media-text__content {
		padding: 20px 0;
		grid-row: 2;
	}

	.has-media-on-the-right .wp-block-media-text__media {
		grid-column: 1;
		grid-row: 1;
	}

	.has-media-on-the-right .wp-block-media-text__content {
		grid-row: 2;
	}
}

/*Paragraph Blocks*/
.has-drop-cap:not(:focus):first-letter {
	color: #0844A4;
	float: left;
	font-size: 58px;
	line-height: .68;
	font-weight: bold;
	margin: 5px 10px 0 0;
	text-transform: uppercase;
	font-style: normal;
}

/*Preformatted Blocks*/
.wp-block-preformatted {
	border: 1px solid #DCD7CA;
	padding: 30px;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.5;
}

/* Table Blocks */
.wp-block-table table {
	width: 100%;
	border-collapse: collapse;
}

.wp-block-table td, .wp-block-table th {
	padding: 8px;
	border: 1px solid;
}

.wp-block-table.is-style-stripes td, .wp-block-table.is-style-stripes th {
	border: none;
}

.wp-block-table.aligncenter table {
	width: auto;
	display: inline-block;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: #f0f0f0;
}

/* Video Blocks */
.wp-block-video video {
	width: 100%;
}

.wp-block-video.aligncenter video {
	width: auto;
}

/* Social Links Blocks */
.wp-block-social-links {
	padding-left: 0;
	list-style: none;
}

.wp-social-link {
	display: inline-block;
	transition: transform 0.3s;
	border-radius: 50%;
	margin-right: 10px;
}

.wp-social-link a {
	padding: 6px;
	display: block;
}

.wp-social-link:hover {
	transform: scale(1.2);
}

.wp-social-link a, 
.wp-social-link a:active, 
.wp-social-link a:hover, 
.wp-social-link a:visited, 
.wp-social-link svg {
	color: currentColor;
	fill: currentColor;
}

/*Default Style or No Style*/
.wp-social-link.wp-social-link-chain {
	background-color: #f0f0f0;
}

.wp-social-link:not(.wp-social-link-chain) {
	background-color: currentColor;
}

.wp-social-link:not(.wp-social-link-chain) a {
	color: #fff;
}

/*Logos Only Style*/
.wp-block-social-links.is-style-logos-only .wp-social-link {
	margin-right: 0;
	background: none;
}

.wp-block-social-links.is-style-logos-only .wp-social-link a {
	color: currentColor;
}

.wp-block-social-links.is-style-logos-only .wp-social-link svg {
	width: 28px;
	height:	28px;
}

/*Pill Shape Style*/
.wp-block-social-links.is-style-pill-shape .wp-social-link {
	border-radius: 36px;
	margin-right: 18px;
}

/*Social Color Settings*/
.wp-block-social-links .wp-social-link-chain {
	color: #444;
}

.wp-block-social-links .wp-social-link-amazon {
	color: #f90;
}

.wp-block-social-links .wp-social-link-bandcamp {
	color: #1ea0c3;
}

.wp-block-social-links .wp-social-link-behance {
	color: #0757fe;
}

.wp-block-social-links .wp-social-link-codepen {
	color: #1e1f26;
}

.wp-block-social-links .wp-social-link-deviantart {
	color: #02e49b;
}

.wp-block-social-links .wp-social-link-dribbble {
	color: #e94c89;
}

.wp-block-social-links .wp-social-link-dropbox {
	color: #4280ff;
}

.wp-block-social-links .wp-social-link-etsy {
	color: #f45800;
}

.wp-block-social-links .wp-social-link-facebook {
	color: #1778f2;
}

.wp-block-social-links .wp-social-link-fivehundredpx {
	color: #000;
}

.wp-block-social-links .wp-social-link-flickr {
	color: #0461dd;
}

.wp-block-social-links .wp-social-link-foursquare {
	color: #e65678;
}

.wp-block-social-links .wp-social-link-github {
	color: #24292d;
}

.wp-block-social-links .wp-social-link-goodreads {
	color: #eceadd;
}

.wp-block-social-links .wp-social-link-google {
	color: #ea4434;
}

.wp-block-social-links .wp-social-link-instagram {
	color: #f00075;
}

.wp-block-social-links .wp-social-link-lastfm {
	color: #e21b24;
}

.wp-block-social-links .wp-social-link-linkedin {
	color: #0d66c2;
}

.wp-block-social-links .wp-social-link-mastodon {
	color: #3288d4;
}

.wp-block-social-links .wp-social-link-medium {
	color: #02ab6c;
}

.wp-block-social-links .wp-social-link-meetup {
	color: #f6405f;
}

.wp-block-social-links .wp-social-link-pinterest {
	color: #e60122;
}

.wp-block-social-links .wp-social-link-pocket {
	color: #ef4155;
}

.wp-block-social-links .wp-social-link-reddit {
	color: #fe4500;
}

.wp-block-social-links .wp-social-link-skype {
	color: #0478d7;
}

.wp-block-social-links .wp-social-link-snapchat {
	color: #fefc00;
	stroke: #000
}

.wp-block-social-links .wp-social-link-soundcloud {
	color: #ff5600;
}

.wp-block-social-links .wp-social-link-spotify {
	color: #1bd760;
}

.wp-block-social-links .wp-social-link-tumblr {
	color: #011835;
}

.wp-block-social-links .wp-social-link-twitch {
	color: #6440a4;
}

.wp-block-social-links .wp-social-link-twitter {
	color: #1da1f2;
}

.wp-block-social-links .wp-social-link-vimeo {
	color: #1eb7ea;
}

.wp-block-social-links .wp-social-link-vk {
	color: #4680c2;
}

.wp-block-social-links .wp-social-link-wordpress {
	color: #3499cd;
}

.wp-block-social-links .wp-social-link-yelp {
	color: #d32422;
}

.wp-block-social-links .wp-social-link-youtube {
	color: red;
}

.wp-block-social-links.is-style-pill-shape .wp-social-link {
	width: auto
}

.wp-block-social-links.is-style-pill-shape .wp-social-link a {
	padding-left: 16px;
	padding-right: 16px
}

/*Spacer Blocks*/
.wp-block-spacer {
	clear: both;
}

/*Margins 共通*/
.wp-block-buttons,
block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-gallery,
.wp-block-cover,
.wp-block-image,
.wp-block-quote,
.alignnone, 
.aligncenter, 
.alignleft, 
.alignright, 
.alignwide,
.wp-block-separator {
	margin-top: 40px;
	margin-bottom: 40px;
}

